.section {
  backdrop-filter: blur(3px);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 70px 100px 70px 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  border: 3px solid grey;
}

.header_container {
  width: 700px;
  display: flex;
  justify-content: left;

  @media(max-width: 780px) {
    width: 80%;
  }
}

.text_header {
  width: 0;
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to bottom, darkgrey, black 50%);
  background-clip: text;
  color: transparent;
  border-right: 2px solid;
  z-index: 1;
  animation:
    blink 0.5s steps(44) 5,
    reveal 1s steps(30) 1s 1 normal forwards,
    remove-cursor 0s, linear 4s forwards;

  @media(max-width: 780px) {
    font-size: 45px;
  }
  @media(max-width: 300px) {
    font-size: 40px;
  }
}

.text {
  width: 700px;
  font-size: 28px;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  animation: rise 0.6s ease-out forwards;
  animation-delay: 2.5s;

  @media(max-width: 780px) {
    width: 80%;
    font-size: 25px;
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes reveal {
  from { width: 0; }
  to { width: 240px; }
}

@keyframes remove-cursor {
  to { border-color: transparent; }
}
