.section {
  backdrop-filter: blur(3px);
  font-family: Arial, sans-serif;
  margin: 100px auto 50px auto;
  padding: 70px 60px 70px 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1;
  max-width: 900px;
  width: 90%;

  @media(max-width: 450px) {
    padding: 70px 50px 70px 50px;
  }
  @media(max-width: 400px) {
    padding: 70px 35px 70px 35px;
  }
}

.header_container {
  width: 95%;
  display: flex;
  justify-content: left;

  @media(max-width: 780px) {
    width: 80%;
  }
}

.text_header {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to bottom, white, #006BA6 50%);
  background-clip: text;
  color: transparent;

  @media(max-width: 780px) {
    font-size: 45px;
  }
  @media(max-width: 300px) {
    font-size: 40px;
  }
}

.text {
  width: 95%;
  font-size: 28px;
  color: #333;

  @media(max-width: 780px) {
    width: 80%;
    font-size: 25px;
  }
}
